<!DOCTYPE html>
<html>
	<head>
		<title>MessageBoard - Home</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script type="text/javascript" src="js/ng/home.js"></script>
	</head>
	<body ng-app="mbApp">
		<div class="container">
			<%- include('../views/menu') %>
			<div class="row">
			</div>
			<h3>User Profile</h3>
			<div class="row">
				<div class="col-sm-4 float-right">
					<div ng-controller="uploadCtrl" class="details">
						<img ng-src="{{PreviewImage}}" id="profile_image" src="<%= image_url %>" class="img-rounded" width="200" height="200">
						<input class="form-control" type="file" name="image_upload" onchange="angular.element(this).scope().SelectFile(event)">
						<button class="btn btn-primary" ng-disabled="inactive" ng-click="updatePhoto()">Update Photo</button>
					</div>
				</div>
				<div class="col-sm-4 float-left">
					<a class="pull-right" href="/chat">Chat</a>
					<div class="details">
						<div class="row">
							<label class="label label-info">Name : <%= name %></label>
						</div>
						<div class="row">
							<label class="label label-info">Gender : 
								<% if (gender == 1) { %>
									Female
								<% } else if (gender == 2) { %>
									Male
								<% } else { %>
									Other
								<% } %>
							</label>
						</div>
						<div class="row">
							<label class="label label-info">Birthdate : <%= birthdate %></label>
						</div>
						<div class="row">
							<label class="label label-info">Joined : <%= created %></label>
						</div>
						<div class="row">
							<label class="label label-info">Last Login :  <%= last_login_time %></label>
						</div>
						<div class="row">
							<label class="label label-info">Hobby: </label>
							<p><%= hobby %></p>
						</div>
					</div>					
				</div>				
			</div>
		</div>
	</body>
</html>